language: php
php:
    - '5.4'
    - '5.5'
    - '5.6'
    - '7.0'
    - '7.1'
    - hhvm
    - nightly

before_script:
    - cp config/ca.cnf.default config/ca.cnf
    - cp config/intermediate.cnf.default config/intermediate.cnf
    - cp config/encrypt.yml.default config/encrypt.yml
    - cp README.md README.txt
    - composer self-update
    - composer install

script:
    - composer require cakephp/cakephp-codesniffer:dev-master
    - chmod +x vendor/bin/phpcs
    - vendor/bin/phpcs -p --extensions=php --standard=vendor/cakephp/cakephp-codesniffer/CakePHP ./src ./tests ./config

after_script:
    - php index.php bf:ca TestCA --CN="TEST CA" --C=SK --O="TEST ltd."
    - php index.php bf:intermediatesign TestCA --CN="TEST Intermediate CA" --C=SK --O="TEST ltd." --CA=TestCA
    - php index.php bf:usersign user --CN="Jane Doe" --C=SK --E=jane@doe.local --CA=TestCA
    - php index.php bf:serversign server --CN="www.domain.tld" --C=SK --CA=TestCA
    - phpunit --coverage-text
